h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
    display: block;
}

a{
    margin-left: 10%;
    margin-top: 100px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
i{
    margin-left: 15px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
.new{
    width: 100%;height: 500px; background-color: white;display: flex;
    margin-left: 20px;
    }
    h2{
        text-decoration: none;
        color: black;
    }
    h3{
        margin-left: 30px;
        color: black;
    }
    i{
        color: black;
        margin-left: 10px;
    }

   h1{
   color:black ;
   }
     
    
    
    



